<div class="container_big-card">
    <img src="https://via.placeholder.com/1080x720/eee?text=3:2" alt="news photo" srcset="">

    <div class="big-card_content-text">
        <span> Jul 17, 2023 </span>
        <h3> Beberapa cara menggunakan bold typography pada design website</h3>
        <p>Beberapa tips dalam menggunakan bold typography pada desain website agar tampilan website terlihat lebih mencolok dan standout tetapi tetap nyaman untuk dilihat dan dibaca informasi nya dengan memperhatikan kontras ukuran teks yang digunakan.</p>
    </div>
</div>
