<div class="container_big-card">
    <div class="big-card_img">
        <img src="https://via.placeholder.com/1080x720/eee?text=3:2" alt="news photo" srcset="">
    </div>
    

    <div class="big-card_content-text">
        <span> Jul 17, 2023 </span>
        <h3> Beberapa cara menggunakan bold typography pada design website</h3>
        <p>Di artikel ini saya membuat daftar hal hal yang bisa digunakan dengan bold typography pada design website. Agar bold typography menjadi menarik dan tidak mengganggu visual.</p>
    </div>
</div>
