.content_small-card{
    display: flex;
    max-width: 628px;
}

.small-card_content-text{
    display: flex;
    flex-direction: column;
}

.small-card_content-text span {
    font-size: 0.8em;
    opacity: 0.3;
}

.small-card_content-text h4 {
    margin: 0.8em 0;
    opacity: 0.8;
}

.small-card_img img {
    width: 100%;
    max-height: 151px;
}